<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Test Cookie Bridge Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>test_cookie_bridge_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>

	<key>io.flutter.embedded_views_preview</key>
	<true/>

   <key>NSCameraUsageDescription</key>
     <string>Camera access is required for video KYC verification</string>
   <key>NSMicrophoneUsageDescription</key>
     <string>Microphone access is required for video KYC verification</string>
   <key>NSMicrophoneUsageDescription.WebView</key>
     <string>Microphone access is required for video KYC verification in WebView</string>
   <key>NSLocalNetworkUsageDescription</key>
     <string>This app needs local network access for WebRTC</string>

    <key>NSLocationWhenInUseUsageDescription</key>
        <string>Location access is required for KYC verification</string>
    <key>NSLocationAlwaysUsageDescription</key>
        <string>Location access is required for KYC verification</string>

     <key>NSPhotoLibraryUsageDescription</key>
        <string>Photo library access is required for document upload</string>

    <key>NSDocumentsUsageDescription</key>
        <string>Access to documents is needed to download and save files</string>

    <key>NSDownloadsUsageDescription</key>
        <string>Access to downloads is needed to save files</string>

    <key>NSDocumentsFolderUsageDescription</key>
        <string>Access to document directory is required for downloading files</string>

    <key>NSDownloadsFolderUsageDescription</key>
        <string>Access to downloads directory is required for saving files</string>

    <key>WKAppBoundDomains</key>
    <array>
        <string>razorpay.com</string>
        <string>api.razorpay.com</string>
        <string>checkout.razorpay.com</string>
        <string>sbmsmartbankinguat.esbeeyem.com:9443</string>
        <string>smtplatform.sbmbank.co.in</string>
    </array>
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>

</dict>
</plist>
